.about-page{
    padding: 50px 0 ;
    .about-title{
        margin-bottom: 30px;
    }
    .about-section{
        .about-icon{
            margin-bottom: 30px;
        }
        p{
            color:#868686;
            line-height: 1.7;
            font-size: $baseFontSize +1
        }
    }
}